.container{

    margin-bottom: 20px;
    padding: 5%;
    max-width: 100%;
    border-radius: 5px;
    color: #f9f9f9;
    
}
.title  {
    color:#fff;
    font-family: Roboto-mono, sans-serif;
    font-size: 3rem;
    font-weight:600;
    letter-spacing: 0.3px;
  }

  .text {
    color: #fff;
    font-family: Roboto-mono, sans-serif;
    font-size: 0.9rem;
    line-height: 20px;
    padding-right: 120px;
  }