.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px;
    column-gap: 20px;

}
.titleContainer{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-family: Roboto-mono, sans-serif;
}
  .text{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    font-family: Roboto-mono, sans-serif;
  }
  
  .item {
    flex: 1 0 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border:1px solid #000;
    border-radius: 20px;
    padding: 30px;
    font-family: Roboto-mono, sans-serif;
   
  }
  
  .fileInput {
    /* Estilos para el input de archivo */
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    font-family: Roboto-mono, sans-serif;
  }
  
  .submitButton {
   
    padding: 10px 20px;
    background-color: #fec73a; 
    border: none;
    color: #000; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    font-family: Roboto-mono, sans-serif;
  }
  
  .submitButton:hover {
    background-color: #161616; 
    color: #fff; 
  }
  @media (max-width: 600px) {
    .item {
      flex: 1 0 50%;
      padding: 10px;
    }
    .titleContainer {
      padding-top:30% ;
    }
    .container{
      padding: 0;
    
    }
  }
  
  @media (min-width: 900px) {
    .item {
      flex: 1 0 33.33%;
    }
  }